						<div class="component-head">
							<h4><%= type.capitalize %></h4>
						</div>
						<div class="component-actions" id="<%= type %>-component-actions">
							<h4>
								<%= icon("arrows", class: "move") %>
								&nbsp;
								<%= icon("minus", class: "minimize") %>
							</h4>
						</div>