<div class="col-xs-12 col-lg-6">
	<div class="component-wrapper">
				<%= render 'shared/component_header', type: type, title: title %>
		
		<div class="panel panel-primary" id="<%= type %>-panel">
			<div class="panel-body" id="<%= type %>-body">
				<%= html.html_safe %>
			</div>
		</div>
	</div>			
</div>