						<div class="component-head">
							<h4><%= type %></h4>
						</div>
						<div class="component-actions">
							<h4>
								<%= icon("arrows") %>
								&nbsp;
								<%= icon("minus") %>
							</h4>
						</div>