					<div class="panel-body">
						<div class="panel-head">
							<h4><%= type %></h4>
						</div>
						<div class="panel-actions">
							<h4>
								<%= icon("arrows") %>
								&nbsp;
								<%= icon("minus") %>
							</h4>
						</div>