<div class="col-xs-12 col-lg-6">
	<div class="panel panel-primary">
		<div class="panel-body">
			<%= render 'component_header', type: type.capitalize %>
			<%= render 'tmp_content', type: type %>
		</div>
	</div>			
</div>