<div class="col-xs-12 col-lg-6">
	<div class="component-wrapper">
				<%= render 'component_header', type: type %>
		
		<div class="panel panel-primary" id="<%= type %>-panel">
			<div class="panel-body" id="<%= type %>-body">
				<%= render 'tmp_content', type: type %>
			</div>
		</div>
	</div>			
</div>