.nav-wrapper {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
	font-size: 18px;

	.navbar-brand {
		padding: 15px 0;
		font-weight: bold;
		color: $brand-primary;
		&:hover {
			color: $brand-primary;
		}
	}

	.nav-item {
		flex: 1 1 auto;
		height: 50px;
		margin: 0px;
	}

	.nav-search {
		display: inline-block;
    float: none;
    text-align: left;
	}

	.user-pref {
		display: flex;
		justify-content: flex-end;
		flex-wrap: nowrap;
		li {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		a {
			padding: 0;
			margin: 10px 0;
		}
	}

	.li-info {
		margin-right: 15px;
	}

	.use-info {
		font-size: 36px;
		line-height: 36px;
		&:hover {
			color: $brand-primary;
		}
	}
	
	.nav-user-avatar {
		margin: 0;
		height: 30px;
		width: 30px;
		border-radius: 50%;
		&:hover {
			border: 2px solid $brand-primary;
		}
	}
}

.user-pref-dropdown {
	right: -2px;
	top: 48px;
	width:240px;
	left: initial;
	img {
		width: 45px;
		height: 45px;
		margin: 20px 0 10px;
	}
}

.nav-search{
	width: 100%;
	padding: 15px 0;
	line-height: 20px;
	overflow: hidden;
	#input-search {
		display: inline-block;
		width: 90%;
		border: none;
		background: transparent;
		outline: none;
		color: $primary-text;
		&:focus {
			outline: none;
		}
	}
}