.panel-body {
		clear: both;
		padding: 20px 15px 0 15px;
		color: $primary-text;
		background: $primary-background;
		pre {
			color: $primary-text;
	    white-space: pre-wrap;
	    margin-bottom: 6px;
		}
		p{
			margin-bottom: 5px;
		}
}
.component-wrapper {
	position: relative;
	margin: 0;
	padding-bottom: 1px;
}
.component-head {
	position: absolute;
	left: 15px;
	top: -15px;
	display: inline-block;
	margin: 0;
	padding: 5px;
	border-radius: 3px;
	background: white;
	border: 1px solid $brand-primary;
	// background: $gray-lighter;
	h4 {
		color: $brand-primary;
		margin: 0;
	}
}
.component-actions {
	@extend .component-head;
	right: 15px;
	left: initial;
}
.panel {
	margin: 15px 0;
}
.js-panel-open {
	margin-bottom: 5px;
	.panel-body {
		display: block;
	}
}
.js-panel-closed {
	margin-bottom: 14px;
	.panel-body {
		display: none;
	}
}

.placeholder {
	border: 1px dashed $primary-text;
	border-radius: 3px;
	height: 75px;
	margin: 10px 0;
}


