.panel {
	margin-top: 15px;
	.panel-head {
		position: relative;
		display: inline-block;
		top: -32px;
		margin: 0;
		padding: 5px;
		border-radius: 5px;
		background: white;
		border: 1px solid $brand-primary;
		float: left;
		background: $gray-lighter;
		h4 {
			color: $brand-primary;
			margin: 0;
		}
	}
	.panel-actions {
		@extend .panel-head;
		float: right;
	}
}