.panel-body {
		clear: both;
		padding: 15px 15px 0 15px;
}
.component-wrapper {
	position: relative;
	margin: 0;
}
.component-head {
	position: absolute;
	left: 15px;
	top: -15px;
	display: inline-block;
	margin: 0;
	padding: 5px;
	border-radius: 5px;
	background: white;
	border: 1px solid $brand-primary;
	background: $gray-lighter;
	h4 {
		color: $brand-primary;
		margin: 0;
	}
}
.component-actions {
	@extend .component-head;
	right: 15px;
	left: initial;
}
.panel {
	margin: 15px 0;
}
.panel-open {
	margin-bottom: 5px;
	.panel-body {
		display: block;
	}
}
.panel-closed {
	margin-bottom: 14px;
	.panel-body {
		display: none;
	}
}


