.panel-body {
		@extend .clearfix;
	position: relative;
	top: -31px;
}
.panel {
	margin: 15px 0;
	.component-head {
		display: inline-block;
		margin: 0;
		padding: 5px;
		border-radius: 5px;
		background: white;
		border: 1px solid $brand-primary;
		float: left;
		background: $gray-lighter;
		h4 {
			color: $brand-primary;
			margin: 0;
		}
	}
	.component-actions {
		@extend .component-head;
		float: right;
	}
	.component-body {
		position: relative;
		top: 15px;
		@extend .clearfix;
		p {
			// padding-bottom: 0;
			// margin: 0;
		}
	}
}