
.jstree-search {
    color: $brand-primary !important;
}

.jstree-clicked {
    pointer-events: none;
    cursor: default;
    color: #fff !important;
}
.jstree-wholerow-clicked {
    background: $brand-primary-dark !important;
    pointer-events: none;
}
.jstree-wholerow-hovered {
    color: $brand-primary !important;
}
.jstree-hovered {
    color: #fff !important;
}

.jstree-ocl {
    display: none !important;
}

.fa-border {
    border: 2px solid;
    border-radius: 5px;
    line-height: 18px !important;
    margin-bottom: 1px;
}


.sidebar-scrollable {
	max-height: calc(100vh - 80px);
    padding-bottom: 10px;
    color: $gray-darker;
}
.language-name {
    display: inline-block;
	margin: 0;
    font-size: 24px;
    color: $language-ruby-red;
    i {
        margin-right: -5px;
        font-size: 20px;
    }
}

.dim-language-name {
    color: $gray-darker;
}
