    // position: absolute;
    // top: 0;
    // bottom: 0;
    // overflow-x: hidden;
    // overflow-y: scroll;
    // left: 0;

.jstree-clicked {
	pointer-events: none;
	cursor: default;
}
div[class$="-scrollable"] {
	overflow-x: hidden;
	overflow-y: scroll;
}
.sidebar-scrollable {
	max-height: calc(100vh - 160px);
}
.main-scrollable{
	max-height: calc(100vh - 120px);
}
.language-name {
	margin: -5px 0 0;
}